/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 2.3rem;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 4.5rem;
    width: 4.2rem;
    background: crimson;
    right: 3rem;
    bottom: 1rem;
    text-align: center;
    line-height: 4.5rem;
    color: #fff;
    z-index: 9999;
    font-size: 3rem;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 3rem;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}

/* all similar content styling codes */
section{
    padding: 10rem 0;
}

.max-width{
    max-width: 130rem;
    padding: 0 8rem;
    margin: auto;
}

.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}

.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

section .title{
    position: relative;
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 6rem;
    padding-bottom: 2rem;
    font-family: 'Ubuntu', sans-serif;
}

section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 18rem;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 2rem;
    color: crimson;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}


/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 3rem 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.navbar.sticky{
    padding: 1.5rem 0;
    background: crimson;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: #fff;
    font-size: 3.5rem;
    font-weight: 600;
}

.navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span{
    color: #fff;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    margin-left: 2.5rem;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: crimson;
}

.navbar.sticky .menu li a:hover{
    color: #fff;
}

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}


/* home section styling */
.home{
    background-color: #111;
    display: flex;
    /**/
    /*
    background: url("https://png.pngtree.com/thumb_back/fh260/background/20230217/pngtree-blue-wavy-banner-background-blank-image_1608934.jpg") no-repeat center;          */
    height: 100vh;
    color: #fff;
    min-height: 50rem;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width{
  width: 100%;
  display: flex;
}

.home .max-width .row{
  margin-right: 0;
}

.home .home-content .text-1{
    font-size: 2.7rem;
}

.home .home-content .text-2{
    font-size: 5rem;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3{
    font-size: 4rem;
    margin: 5px 0;
}

.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}

.home .home-content a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 2.5rem;
    padding: 1.2rem 3.6rem;
    margin-top: 2rem;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.home .home-content a:hover{
    color: crimson;
    background: none;
}


/* about section styling */
.about .title::after{
    content: "who i am";
}

.about .about-content .left{
    width: 45%;
}

.about .about-content .left img{
    height: 45rem;
    width: 45rem;
    object-fit: cover;
    border-radius: 6px;
}

.about .about-content .right{
    width: 55%;
}

.about .about-content .right .text{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.about .about-content .right .text span{
    color: crimson;
}

.about .about-content .right p{
    text-align: justify;
}

.about .about-content .right a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    padding: 1rem 3rem;
    margin-top: 2rem;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.right p {
    font-size: 1.8rem;
}

.about .about-content .right a:hover{
    color: crimson;
    background: none;
}



/* skills section styling */
.services {
    color:#fff;
    background: #111;
}

.services .title::before,
.title::before{
    background: #fff;
}

.services .title::after, 
.title::after{
    background: #111;
    content: "what i provide";
}

.skills .title::after{
    content: "what i know";
}

.skills .skills-content .column{
    width: calc(50% - 30px);
}

.skills .skills-content .left .text{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.skills .skills-content .left p{
    text-align: justify;
    font-size: 1.5rem;
}

.skills .skills-content .left a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    padding: 8px 1.6rem;
    margin-top: 2rem;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.skills .skills-content .left a:hover{
    color: crimson;
    background: none;
}

.skills .skills-content .right .bars{
    margin-bottom: 15px;
}

.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .right span{
    font-weight: 500;
    font-size: 1.8rem;
}

.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}

.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}

.skills-content .right .html::before{
    width: 90%;
}

.skills-content .right .css::before{
    width: 80%;
}

.skills-content .right .js::before{
    width: 70%;
}

.skills-content .right .communication::before{
    width: 90%;
}

.skills-content .right .mysql::before{
    width: 80%;
}



/* project section styling */
.project .title::after{
    content: "Portfolio";
}

.project .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 2.5rem 3.5rem;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}

.project .carousel .card:hover{
    background: crimson;
}

.project .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    color: #fff;
}

.box h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.box p {
    margin-top: 1rem;
    font-size: 1.5rem;
}

.box a {
    color: #fff;
    font-size: 1.4rem;
    margin-top: 1rem;
}

.project .carousel .card:hover .box{
    transform: scale(1.05);
}

.project .carousel .card img{
    height: 20rem;
    width: 30rem;
    object-fit: contain;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.project .carousel .card:hover img{
    border-color: #fff;
}

strong {
    font-size: 2rem;
}

strong {
    font-size: 2rem;
}

.owl-dots{
    text-align: center;
    margin-top: 2rem;
}

.owl-dot{
    height: 1.3rem;
    width: 1.3rem;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid crimson!important;
    transition: all 0.3s ease;
}

.owl-dot.active{
    width: 3.5rem;
    border-radius: 1.4rem;
}

.owl-dot.active,
.owl-dot:hover{
    background: crimson!important;
}


/* contact section styling */
.contact .title::after{
    content: "get in touch";
}

.contact .contact-content .column{
    width: calc(50% - 30px);
}

.contact .contact-content .text{
    font-size: 2.6rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.contact .contact-content .left p{
    text-align: justify;
    font-size: 1.4rem;
}

.contact .contact-content .left .icons{
    margin: 1rem 0;
}

.contact .contact-content .row{
    display: flex;
    height: 6.5rem;
    align-items: center;
}

.contact .contact-content .row .info{
    margin-left: 3rem;
}

.contact .contact-content .row i{
    font-size: 3rem;
    color: crimson;
}

.contact .contact-content .info .head{
    font-weight: 500;
    font-size: 1.7rem;
}

.contact .contact-content .info .sub-title a{
    color: #fff;
    font-size: 1.3rem;
}

.contact .right form .fields{
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field{
    height: 4.5rem;
    width: 100%;
    margin-bottom: 1.5rem;
}

.contact .right form .textarea{
    height: 8rem;
    width: 100%;
}

.contact .right form .name{
    margin-right: 1rem;
}

.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 1.5rem;
    font-size: 1.7rem;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}

.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}

.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}

.contact .right form .button-area{
  display: flex;
  align-items: center;
}

.right form .button-area button{
  color: #fff;
  display: block;
  width: 16rem!important;
  height: 4.5rem;
  outline: none;
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: crimson;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}

.right form .button-area button:hover{
  color: crimson;
  background: none;
}

/* footer section styling */
footer{
    background: #fff;
    padding: 1.5rem 2.3rem;
    color: black;
    text-align: center;
}

footer span a{
    color: crimson;
    text-decoration: none;
    font-size: 1.5rem;
}

footer span {
    font-size: 1.5rem;
}

footer span a:hover{
    text-decoration: underline;
}




/* responsive media query start */
@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 35rem;
        width: 35rem;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 5rem;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 8rem;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 2rem 0;
        font-size: 2.5rem;
    }
    .home .home-content .text-2{
        font-size: 7rem;
    }
    .home .home-content .text-3{
        font-size: 3.5rem;
    }
    .home .home-content a{
        font-size: 2.3rem;
        padding: 1rem 3rem;
    }
    .max-width{
        max-width: 93rem;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 6rem;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 2rem;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 3.5rem;
    }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 2.3rem;
    }
    .home .home-content .text-2{
        font-size: 6rem;
    }
    .home .home-content .text-3{
        font-size: 3.2rem;
    }
    .home .home-content a{
        font-size: 2rem;
    }
    .services .serv-content .card{
        width: 100%;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 5rem;
    }
    .home .home-content .text-3{
        font-size: 2.7rem;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 1.9rem;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .right form .error-box{
        width: 15rem;
    }
    .scroll-up-btn{
        right: 1.5rem;
        bottom: 1.5rem;
        height: 3.8rem;
        width: 3.5rem;
        font-size: 2.3rem;
        line-height: 3.8rem;
    }
}

